# Make nano the default editor # NICKSEN
export EDITOR="nano";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer Swedish and use UTF-8 # NICKSEN
export LANG="sv_SE";
export LC_ALL="sv_SE.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications";

# NICKSEN
export HOMEBREW_GITHUB_API_TOKEN="257a0a489f84395f5b39217ad293cfd4524281f5"

export ANDROID_HOME="$(brew --prefix android)"

export JAVA_HOME="/Library/Java/JavaVirtualMachines/jdk1.8.0_05.jdk/Contents/Home"

export SCALATRA_JREBEL="/usr/local/bin/jrebel/jrebel.jar"

export GOPATH="$HOME/Develop/Go"

export JBOSS_HOME="$(brew --prefix jboss-as)/libexec"

export SBT_OPTS="$SBT_OPTS -Dsbt.jse.engineType=Node"
